<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="stylesheets/boots.css">
	<link rel="stylesheet" href="stylesheets/found.css">
</head>
<body>
{{> header }}
{{{body}}}
</body>
</html>
